/* CSS Document */

.planning{margin:0 0 0 0;font-size:12px;}
#terminer.planning{background: url('../images/fond/fond_terminer.jpg') repeat top left;}
div.planning{background-color:#fff;}
div#block.planning{padding:2px;}

#fondplanning{}